# Expressions

Play [this](https://www.mathsisfun.com/games/guess_number.html) game before you start programming.

![](../images/unit_1_01.png)

The Python programming language has a wide range of syntactical constructions, standard library functions, and interactive development environment features. Fortunately, you can ignore most of that; you just need to learn enough to write some handy little programs.

You will, however, have to learn some basic programming concepts before you can do anything. Like any other beginner-in-training, you might think these concepts seem arcane and tedious, but with some knowledge and practice, you’ll be able to command your computer to perform incredible feats.

## Literal Constant

![](../images/unit_1_02.jpg)

### Numeric literal

---

A numeric literal is a sequence of numeric characters that represent a number. There are three types of numeric literals in Python: integers, float numbers, and complex numbers. The numeric literals are immutable i.e. we can not change them.

1) Integers: Integers are whole numbers without a decimal point. They can be 
positive or negative.

Example:

In [ ]:
a = 5    # positive integer
b = -10  # negative integer
c = 0    # zero

2) Float numbers: Float numbers, also known as floats, are numbers with a decimal point. They can also be positive or negative.

In [ ]:
a = 3.14      # positive float
b = -2.5      # negative float
c = 1.0e-5   # scientific notation for a very small float (0.00001)

3) Complex numbers: Complex numbers consist of a real part and an imaginary part. They are written in the form a + bj, where a is the real part, b is the imaginary part, and j is the imaginary unit.

In [ ]:
a = 3 + 2j   # a complex number with real part 3 and imaginary part 2
b = 4j       # a complex number with real part 0 and imaginary part 4
c = -1j      # a complex number with real part 0 and imaginary part -1

Note: In Python, you can use underscores (_) to make large numeric literals easier to read. For example, you can write 1_000_000 instead of 1000000.



---





### Boolean Literals

---

A boolean literal is a value that can only be one of two possible states: True or False. Boolean literals are used to represent logical values, where True represents a condition that is true or valid, and False represents a condition that is false or invalid.

In [ ]:
a = True
b = False
print(a==1)
print(b==0)

True
True

Interger value of booleans: value of True is 1 and value of False is 0.



---
### String Literals


---

A string literal is a sequence of characters enclosed in quotes (either single quotes or double quotes). String literals are used to represent textual data in Python.

In [ ]:
a = "Hello, World!"     # a string literal enclosed in double quotes
b = 'Python is awesome' # a string literal enclosed in single quotes
number_string = "42"    # a number given in quotes is also a string
data=''                 # an empty string / blank string

If you ever see the error message **SyntaxError: EOL while scanning string literal**, you probably forgot the final single quote character at the end of the string, such as in this example:

In [ ]:
'Hello world!

SyntaxError: ignored

#### String Concatenation

The meaning of an operator may change based on the data types of the values next to it. For example, **+** is the addition operator when it operates on two integers or floating-point values. However, when **+** is used on two string values, it joins the strings as the string concatenation operator. Try out the following example.

In [ ]:
'ai' + 'adventures'

'aiadventures'

The expression evaluates down to a single, new string value that combines the text of the two strings. However, if you try to use the + operator on a string and an integer value, Python will not know how to handle this, and it will display an error message.

In [ ]:
'ai' + 42

TypeError: ignored

The error message says that python can’t do the operation because python does not knows how to add a str and an int. User has to convert the int to str data type before he/she can add 42 to ‘ai’.

#### String Replication

The * operator is used for multiplication when it operates on two integer or floating-point values. But when the * operator is used on one string value and one integer value, it becomes the string replication operator. Enter a string multiplied by a number to see this in action.

In [ ]:
'ai'*5

'aiaiaiaiai'

The expression evaluates down to a single string value that repeats the original a number of times equal to the integer value. String replication is a useful trick, but it’s not used as often as string concatenation.

The * operator can be used with only two numeric values (for multiplication) or one string value and one integer value (for string replication). Otherwise, Python will just display an error message.

For example …

In [ ]:
'ai' * 'adventures'

TypeError: ignored

In [ ]:
'ai' * 5.0

TypeError: ignored



---
### Special Literals


---

"special literals" refer to predefined values that have their own data type and special meaning. 

None: This represents the absence of a value. It is often used as a placeholder or to indicate that a variable has not been assigned a value yet.

In [ ]:
x = None 
x        # here there is no any value in x

## Variables

A **variable** is like a envelope in the computer’s memory where you can store a single value. If you want to use the result of an evaluated expression later in your program, you can save it inside a variable.

**Assignment Statements**

You’ll store values in variables with an assignment statement. An assignment statement consists of a variable name, an equal sign (called the assignment operator), and the value to be stored. If you enter the assignment statement **var = 42**, then a variable named var will have the integer value 42 stored in it.

Think of a variable as a labeled envelope that a value is placed in, as in the figure.

![](../images/unit_1_03.png)

In python, a variable is initialized (or created) the first time a value is stored in it

In [ ]:
var = 40
var

40

```{note}

Here we are not using print() function but still it displays the output. This is only possible in Jupyter Notebook, every last line of code cell always displays the output of the variable or operation. If you want to see the output intermediately then use print() function.
```

You can use variables which are already initialized in expressions with other variables.

In [ ]:
balls = 2
print(var + balls)
var + balls + var

42

82

When a variable is assigned a new value, the old value is forgotten, which is why var evaluated to 42 instead of 40 at the end of the example. This is called overwriting the variable. Try the following code into your Jupyter Notebook’s cell to overwriting a string:

In [ ]:
var = var + 2
var

42

In [ ]:
var = 'Hello'
var

'Hello'

In [ ]:
var = 'Goodbye'
var

'Goodbye'

![image.png]()

### Rules for variable names

Variable Names
Table below has examples of legal variable names. You can name a variable anything as long as it obeys the following three rules:

*   It can be only one word.
*   It can use only letters, numbers,  and the underscore (_) character.


*   It can’t begin with a number.

![](../images/unit_1_05.jpg)

Another important thing to note, variable names are case-sensitive, meaning that **var**, **VAR**, **Var**, and **vAr** are four different variables. It is a Python convention to start your variables with a lowercase letter.

A good variable name describes the data it contains. Imagine that you moved to a new house and labeled all of your moving boxes as stuff. You’d never find anything! The variable names var, balls, and pencils are used as generic names for the examples, but in your programs, a descriptive name will help make your code more readable.

## Arithmatic Operators

![](../images/unit_1_06.jpg)

In [ ]:
5+2  # addition

7

In [ ]:
5-2  # subtraction

3

In [ ]:
5*2  # multiplication

10

In [ ]:
5/2  # true division

2.5

In [ ]:
5//2  # floor division

2

In [ ]:
5%2 # modulus

1

In [ ]:
5**2  # exponention

25

## Your First Program

Lets write our first program. This is a pretty simple program. It will say hello and then ask the user to enter his/her name & age.

You should write the following code in your jupyter notebook and try running it.

```{note}
Don’t worry a lot about understanding the complete code. We will be discussing it in detail.
```

In [ ]:
# This program says hello and asks for my name.

print('Hello world!')
print('What is your name?')    # ask for their name
myName = input()
print('It is good to meet you, ' + myName)
print('The length of your name is:')
print(len(myName))
print('What is your age?')    # ask for their age
myAge = input()
print('You will be ' + str(int(myAge) + 1) + ' in a year.')

Hello world!
What is your name?
Ram
It is good to meet you, Ram
The length of your name is:
3
What is your age?
5
You will be 6 in a year.

### Comments

The following line is called a *comment*.

In [ ]:
# This program says hello and asks for my name.

Python ignores comments, and you can use them to write notes or remind yourself what the code is trying to do. Any text for the rest of the line following a hash mark (#) is part of a comment. This means, for example, that you can have stand-alone comments like the one just shown, as well as inline comments that follow a statement. For example:

In [ ]:
print('What is your name?')    # ask for their name

What is your name?

Sometimes, programmers will put a “#” in front of a line of code to temporarily remove it while testing a program. This is called commenting out code, and it can be useful when you’re trying to figure out why a program doesn’t work. You can remove the “#” later when you are ready to put the line back in.



### `print()` function

  The print() function displays the string value inside the parentheses on the screen.

In [ ]:
print('Hello world!')

print('What is your name?') # ask for their name

Hello world!
What is your name?

The line print('Hello world!') means “Print out the text in the string ‘Hello world!’.”

 Notice that the quotes are not printed to the screen. They just mark where the string begins and ends; they are not part of the string value.

```{note}

You can also use this function to put a blank line on the screen; just call print() with nothing in between the parentheses.

```



### `input()` function
  The input() function waits for the user to type some text on the keyboard and press ENTER.

In [ ]:
myName = input()

Ram

This function call evaluates to a string equal to the user’s text, and the previous line of code assigns the myName variable to this string value.

You can think of the **input()** function call as an expression that evaluates to whatever string the user typed in. If the user entered ‘Ram’, then the expression would evaluate to **myName = 'Ram'**.



### Printing the user’s name

  The following call to print() actually contains the expression 'It is good to meet you, ' + myName between the parentheses.

In [ ]:
print('It is good to meet you, ' + myName)

It is good to meet you, Ram

Remember that expressions can always evaluate to a single value. If ‘Ram’ is the value stored in myName on the previous line, then this expression evaluates to 'It is good to meet you, Ram'. This single string value is then passed to print(), which prints it on the screen.

```{note}

The `input()` function always returns a string, even if the user enters a number.

Enter `user_value = input() into the cell and enter 101 when it waits for your text.

```

In [ ]:
user_value = input()

101

In [ ]:
user_value

'101'

### `len()` function

You can pass the **len()** function a string value (or a variable containing a string), and the function evaluates to the integer value of the number of characters in that string.

In [ ]:
print('The length of your name is:')
print(len(myName))

The length of your name is:
3

In [ ]:
len('hello')

5

In [ ]:
len('I am data analyst')

17

In [ ]:
len('')

0

Just like those examples, **len(myName)** evaluates to an integer. It is then passed to **print()** to be displayed on the screen. Notice that **print()** allows you to pass it either integer values or string values. But notice the error that shows up when you type the following into the cell:

In [ ]:
print('I am ' + 24 + ' years old.')

TypeError: ignored

The print() function isn’t causing that error, but rather it’s the expression you tried to pass to print(). You get the same error message if you type the expression into the cell on its own.

In [ ]:
'I am ' + 24 + ' years old.'

TypeError: ignored

Python gives an error because you can use the + operator only to add two integers together or concatenate two strings. You can’t add an integer to a string because this is ungrammatical in Python. You can fix this by using a string version of the integer instead, as explained in the next section.

### `str()` function

  If you want to concatenate an integer such as 24 with a string to pass to print(), you’ll need to get the value '24', which is the string form of 24. The str() function can be passed an integer value and will evaluate to a string value version of it, as follows:

In [ ]:
str(24)

'24'

In [ ]:
print('I am ' + str(24) + ' years old.')

I am 24 years old.

Because **str(24)** evaluates to ‘24’, the expression **'I am ' + str(24) + ' years old.'** evaluates to **'I am ' + '24' + ' years old.'**, which in turn evaluates to 'I am 24 years old.'. This is the value that is passed to the print() function.

The str() function is handy when you have an integer or float that you want to concatenate to a string.

### `int()` function

  The value stored inside **user_value** isn’t the integer **101** but the string **'101'**. If you want to do math using the value in user_value, use the **int()** function to get the integer form of user_value and then store this as the new value in user_value.

In [ ]:
user_value = int(user_value)
user_value

101

Now you should be able to treat the user_value variable as an integer instead of a string.

In [ ]:
user_value *10/5

202.0

```{note}

If you pass a value to `int()` that it cannot evaluate as an integer, Python will display an error message.

```

In [ ]:
int('99.99')

ValueError: ignored

In [ ]:
int('twelve')

ValueError: ignored

### `float()` function
 
  Float values are those which contains decimal points. Let’s take the another example of my_value containing string'84' and you want it in float type, then use float() to get in floating point number and store in another variable.

In [ ]:
my_value = input()

84

In [ ]:
my_value = float(my_value)
my_value

84.0

In your program, you used the **int()** and **str()** functions in the last three lines to get a value of the appropriate data type for the code.

In [ ]:
print('What is your age?') # ask for their age
myAge = input()
print('You will be ' + str(int(myAge) + 1) + ' in a year.')

What is your age?
5
You will be 6 in a year.

The myAge variable contains the value returned from input(). Because the input() function always returns a string (even if the user typed in a number), you can use the int(myAge) code to return an integer value of the string in myAge. This integer value is then added to 1 in the expression int(myAge) + 1.
These evaluation steps would look something like this:

![](../images/unit_1_07.png)



---


## Data Types


---

![](../images/unit_1_08.jpg)

We already saw Numeric, Strings & Boolean data types now we will start with other data types:



### Lists

a list is a built-in data type that represents a collection of items, which can be of any data type. A list is an ordered sequence of elements, where each element is identified by an index starting from 0.

Lists are created using square brackets [ ] and separating each element with a comma. For example, here's how you can create a list of numbers:

In [ ]:
numbers = [1, 2, 3, 4, 5]
my_list = ["apple", 3, True, [5, 6, 7]]   # Lists can also contain elements of different data types



### Tuples

a tuple is a built-in data type that is similar to a list, but with some important differences. Like a list, a tuple is an ordered collection of elements, where each element can be of any data type.

Tuples are immutable which means that once they are created, their contents cannot be changed

In [ ]:
my_tuple = ("apple", 3, True)



### Dictionary

a dictionary is a built-in data type that represents a collection of key-value pairs. The keys in a dictionary are unique and immutable, and each key is associated with a value.

Dictionaries are created using curly braces { }, with each key-value pair separated by a colon : and individual pairs separated by commas. For example:

In [ ]:
student_ages = {"Alice": 20, "Bob": 19, "Charlie": 21}
print(student_ages)
print(student_ages["Alice"])  # Output: 20

{'Alice': 20, 'Bob': 19, 'Charlie': 21}
20

### Sets

In [ ]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Print the set
print(my_set)

{1, 2, 3, 4, 5}



## Definition of an Expression


An expression is a combination of values, variables, and operators that Python interprets and evaluates to a result. Python expressions can be simple, such as a single variable, or complex, such as a combination of variables, operators, and function calls.

Here are some examples of simple expressions in Python:

In [ ]:
x = 10        # variable assignment
y = 5         # variable assignment
z = x + y     # addition operator
z

15

In [ ]:
2 + 3 *4

14



## Practice Questions

### Difficulty Level : Easy

Q. Add parentheses to the following expression so that it evaluates to 0. 

8 - 3 * 2 - 1 + 1

In [ ]:
## your code ##

Q. Implement Simple Interest Formula : **S.I. = P × R × T**



*   P = 1500
*   R = 9.5

*   T = 20

In [ ]:
## your code ##

Q. Try to implement Compound Interest Formula : **V = P(1+r/n)^nt**


*   P = 1500
*   r = 0.043

*   n = 4
*   t = 6

In [ ]:
## your code ##

Q. Calculate Momentum is calculated as **e=mc^2** 

where **m** is the mass of the object and **c** is its velocity.

In [ ]:
## your code ##

Q. Implement Fahrenheit to Celsius conversion formula : **F = ( C x 9 / 5 ) + 32**


*   C = 253

In [ ]:
## your code ##

### Difficulty Level : Medium

Q. Create 2 variables and assign values like name and surname from the user. Then concatenate these 2 variables and display using print function.

In [ ]:
## your code ##

Q. Create 2 variables and assign values like birth month and birth year from the user. Display these 2 variables and the length of these variables inside a single print function.

In [ ]:
## your code ##

### Difficulty Level : Hard

Q. Create 2 variables and assign values of user's favourite IPL team and any number between 1 - 10. Display the name of this favourite IPL team as many times as the number they pick from 1 - 10.

**Note** : Pass the message in the input function for taking information from the user.

In [ ]:
## your code ##

Q. Create 4 variables and take input from user for information like height, weight, age and a number from 1 - 10. Display the results of true division, floor division and exponentiation of height, weight and age with the number selected from 1 - 10 concatenated together inside a print function respectively.

**Note** : Pass the message in the input function for taking information from the user. 

**Hint** : Concatenate string \n to display output on new line.

In [ ]:
## your code ##

Q. Calculate salary of employee given his basic pay (take as input from user). Calculate gross salary of employee. Let HRA be 10% of basic pay and TA be 5% of the basic pay. Let employee pay professional tex as 2% of total salary. Calculate net salary payable after deductions.

In [ ]:
## your code ##