
# Tuple

Lists arenâ€™t the only data types that represent ordered sequences of values. For example, tuples and lists are actually similar.Many of the things you can do with lists can also be done with tuple: indexing; slicing; and using them with for loops, with len().

![](../images/unit_5_01.png)

## Tuple data type

![](../images/unit_5_02.png)

In [ ]:
candies = ('hello', 42, 0.5)  # creating tuple

In [ ]:
candies[0]  # indexing

'hello'

In [ ]:
candies[1:3] # slicing

(42, 0.5)

In [ ]:
t=()  # empty tuple

In [11]:
t1=11,
t1

(11,)


In Python, (11,) is a tuple with a single element 11.

The comma after 11 is important because it differentiates a tuple with a single element from a simple integer with parentheses.

To create a tuple in Python, you simply enclose the elements in parentheses and separate them with commas.

### Comparing tuples

In Python, you can compare tuples using the comparison operators such as **<, <=, >, >=, ==**, and **!=**.

Tuples are compared element-wise, starting from the leftmost element, and the comparison stops as soon as a mismatch is found.

In [ ]:
t1 = (1, 2, 3)
t2 = (1, 2, 4)
print(t1 < t2 )  
print(t1 > t2)
print(t1 == t2)
print(t1 != t2)

True
False
False
True



### Tuple Assignments

Tuple assignment is a feature in Python that allows you to assign multiple variables at once by unpacking the values in a tuple. Here's an example:

In [ ]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [ ]:
a,b = 10,20
print(a)
print(b)
print(a,b)

10
20
10 20

In [ ]:
# Swapping two variables
a = 1
b = 2
a, b = b, a

print(a) # Output: 2
print(b) # Output: 1

2
1



### Updating Tuple

Tuples are immutable. So we an extract, assign or update values of one tuple by creating another tuple.

In [ ]:
t1=(10,20,30)
t2=(40,50)
t3=t1+t2
print(t3)

(10, 20, 30, 40, 50)



### Deleting Tuple

we can delete tuple using **del** statement.

In [ ]:
T1=(10,20,30,40)

In [ ]:
del T1

In [ ]:
print(T1)

NameError: ignored



## Dictionary

![](../images/unit_5_03.png)

### Operations and Methods

**In code, a dictionary is typed with braces, { }.**

![](../images/unit_5_04.png)



### Creating dictionary

In [ ]:
myphone = {'brand': 'apple', 'color': 'gray', 'model': 'iphoneX'}
myphone

{'brand': 'apple', 'color': 'gray', 'model': 'iphoneX'}



### Accessing items

In [ ]:
myphone['brand']

'apple'



### Adding items


#### 1 .  Assign a new key-value pair without in-built function

In [ ]:
my_dict = {"apple": 2, "banana": 3, "orange": 1}
my_dict["pear"] = 4

print(my_dict)

{'apple': 2, 'banana': 3, 'orange': 1, 'pear': 4}

#### 2 . Assign a new key-value pair using `update()` method

In [ ]:
my_dict1 = {"apple": 2, "banana": 3, "orange": 1,'grapes':5}
new_items = {"pear": 4, "kiwi": 2, "mango": 1}

my_dict1.update(new_items)

print(my_dict1)

{'apple': 2, 'banana': 3, 'orange': 1, 'grapes': 5, 'pear': 4, 'kiwi': 2, 'mango': 1}



#### Removing items

#### 1 . del statement removes item from dictionary using key

In [ ]:
d = {"apple": 2, "banana": 3, "orange": 1}
print('original dictionary ',d)
del d["banana"]
print(d)

original dictionary  {'apple': 2, 'banana': 3, 'orange': 1}
{'apple': 2, 'orange': 1}

#### 2 . pop() method

In [ ]:
my_dict2 = {"apple": 2, "banana": 3, "orange": 1}
value = my_dict2.pop("banana")

print(my_dict2)
print(value)

{'apple': 2, 'orange': 1}
3



### Changing value

In [ ]:
my_dict = {"apple": 2, "banana": 3, "orange": 1}
my_dict["banana"] = 4

print(my_dict)

{'apple': 2, 'banana': 4, 'orange': 1}

### Methods in dictionary

`clear()` functions is used to delete all the elements in a dictionary

In [3]:
my_dict_1 = {"apple": 2, "banana": 3, "orange": 1}
my_dict_1.clear()
print(my_dict_1)

{}

`get()` function is used to get values of keys from dictionary but if value is not present it returns `None` or specified value

In [5]:
my_dict_3 = {"apple": 2, "banana": 3, "orange": 1}
value = my_dict_3.get("banana")
print(value)

3

In [8]:
my_dict_3 = {"apple": 2, "banana": 3, "orange": 1}
value = my_dict_3.get("bananas")
print(value)

None

In [9]:
my_dict_3 = {"apple": 2, "banana": 3, "orange": 1}
value = my_dict_3.get("bananas", 0)
print(value)

0

`items()` returns both keys and values from dictionary

In [13]:
my_dict_4 = {"apple": 2, "banana": 3, "orange": 1}
items = my_dict_4.items()
print(items)

dict_items([('apple', 2), ('banana', 3), ('orange', 1)])

`keys()` function returns all the keys from dictionary

In [12]:
my_dict_5 = {"apple": 2, "banana": 3, "orange": 1}
keys = my_dict_5.keys()
print(keys)

dict_keys(['apple', 'banana', 'orange'])

`values()` function returns all the values from dictionary

In [14]:
my_dict_6 = {"apple": 2, "banana": 3, "orange": 1}
values = my_dict_6.values()
print(values)

dict_values([2, 3, 1])



#### Traversing Dictionaries

Accessing all keys from dictionary

In [16]:
person = {'name': 'John', 'age': 25, 'location': 'New York'}
for key  in person.keys():
  print(key)

name
age
location

Accessing all the values from the dictionary

In [18]:
person = {'name': 'John', 'age': 25, 'location': 'New York'}
for key  in person.values():
  print(key)

John
25
New York

Accessing both keys and values from dictionary

In [22]:
person = {'name': 'John', 'age': 25, 'location': 'New York'}
for key , value in list(person.items()):
  print(key , value)

name John
age 25
location New York

# Set

The next basic collection is the set, which contains unordered collections of unique items. They are defined much like lists and tuples, except they use the curly brackets of dictionaries, { }:

In [24]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

If youâ€™re familiar with the mathematics of sets, youâ€™ll be familiar with operations like the union, intersection, difference, symmetric difference, and others. Pythonâ€™s sets have all of these operations built-in, via methods or operators. For each, weâ€™ll show the two equivalent methods:

**union** items appearing in either

In [26]:
print(primes | odds)      # with an operator
print(primes.union(odds)) # equivalently with a method

{1, 2, 3, 5, 7, 9}
{1, 2, 3, 5, 7, 9}

**intersection** items appearing in both

In [29]:
print(primes & odds)             # with an operator
print(primes.intersection(odds)) # equivalently with a method

{3, 5, 7}
{3, 5, 7}

`set()` converts list or tuple to set

In [36]:
set([1,1,1,1,11,2,3,4,5,6])

{1, 2, 3, 4, 5, 6, 11}

In [38]:
set((1,4,5,6,1,1,1,11,2,3))

{1, 2, 3, 4, 5, 6, 11}

## Practice Questions

Q. How do you concatenate two tuples?

**Example :**

tuple1 = (1, 2)

tuple2 = (3, 4)      
>>> (1, 2, 3, 4)

Q. How do you access the second element of a tuple?

**Example :**


my_tuple = (1, 2, 3)       
>>>2

Q. Write a Python program to count the number of occurrences of an element in a tuple.

**Example :**


my_tuple = (1, 2, 3, 4, 5, 3, 2, 1, 3)
>>> occurrence of 3 is 3 times

Q. Create a dictionary named student and it should contain your Name, Gender, Age & Programming language. After creating it add a new key Roll number and set its value as 43.

**Example :**

student = {"Name":"AI","Gender":"Male","Age":99,"Programming Language":"Assembly"}

>>>  {"Name":"AI","Gender":"Male","Age":99,"Programming Language":"Assembly","Roll no":43}

Q. Create a code that displays the unique elements present inside the dictionary.

**Hint use `set()` for unique elements**

**Example :**

marks = {"English": 78, "Maths": 89, "Science": 92, "History": 89, "Geography": 77, "Physics": 92, "Chemistry": 78}
>>> 78 89 92 77

Q. Delete orange from this dictionary.

**Example :**


d = {"apple": 2, "banana": 3, "orange": 1}
>>> {"apple": 2, "banana": 3}

Q. Change the value of apple to 7000 in this dictionary

**Example :**


d = {"apple": 2, "banana": 3, "orange": 1}

>>> {"apple": 7000, "banana": 3, "orange": 1}

Q. Display each key and its length from dictionary

**Example :**

d = {"apple": 2, "banana": 3, "orange": 1}
>>> "apple" 5 ,
    "banana"  6 ,
    "orange"  6,

Q. Convert given list to set 

**Example :**


l = [1,1,1,11,2,3]
>>> {1, 2, 3, 11}

Q. Combine to sets

**Example :**


set1 = {2, 7, 3, 5 ,3,4,5,}

set2 = {1,  9, 3, 5,5,2,21,1}

>>> {1, 2, 3, 4, 5, 7, 9, 21}